OPENAI_API_KEY=<YOUR_OPENAI_API_KEY>
PROXY_HMAC_SECRET=<YOUR_HMAC_SECRET>
PROXY_TOKEN_SECRET=<YOUR_TOKEN_SECRET>
PROXY_HMAC_PREVIOUS_SECRET=
PROXY_TOKEN_PREVIOUS_SECRET=
PROXY_TOKEN_TTL_SECONDS=600
AUTH_MAX_SKEW_SECONDS=300
MAX_REQUEST_BODY_BYTES=1048576
UPSTREAM_TIMEOUT_MS=120000
AUTH_RATE_LIMIT_MAX=20
AUTH_RATE_LIMIT_WINDOW_SECONDS=60
PROXY_RATE_LIMIT_MAX=300
PROXY_RATE_LIMIT_WINDOW_SECONDS=60
PORT=8080
